#about {
  padding: 4rem 2rem;
  background-color: var(--background-color);
}

#about h1 {
  font-size: 2.2rem;
  color: var(--secondary-color);
  margin: 1rem 1.5rem;
  text-align: center;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.about-container div {
  height: 80%;
  width: 70%;
  max-height: 400px;
  max-width: 400px;
  margin: 2%;
}

.about-img {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.about-image {
  width: 80%;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-heading {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.about-paragraph,
.about-list-items {
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--secondary-color);
  text-align: justify;
}

.about-list-items {
  padding-left: 1.5rem;
}

.about-list-items li {
  margin-bottom: 0.5rem;
}
