:root {
  --main-text-color: #2c3e50;
  --primary-color: #ad1f2e;
  --secondary-color: #34495e;
  --background-color: #f9f9f9;
  --hover-color: #c0392b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
  color: var(--main-text-color);
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 50px;
}

body.no-scroll {
  overflow-y: hidden;
}

.nav {
  width: 100%;
  height: 5rem;
  background-color: var(--background-color);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0.9;
}

.logo-company {
  width: 180px;
  cursor: pointer;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-list li {
  margin: 0 1rem;
  cursor: pointer;
}

.nav-list i {
  font-size: 2rem;
  margin-right: 0.3rem;
  transition: color 0.3s ease;
}

.nav-list li:hover i {
  color: var(--hover-color);
}

.landing {
  position: relative;
  overflow: hidden;
  height: 60vh;
}

.landing-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
}

.landing-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.35;
}

.banner-logo__company {
  width: 300px;
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner-content {
  width: 40rem;
  font-size: 2rem;
}

.banner-subheading {
  font-size: 2.5rem;
  color: #34495e;
  margin-bottom: 1rem;
}

.cta-btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
}

.cta-btn:hover {
  background-color: var(--hover-color);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

#about {
  padding: 4rem 2rem;
  background-color: var(--background-color);
}

#about h1 {
  font-size: 2.2rem;
  color: var(--secondary-color);
  margin: 1rem 1.5rem;
  text-align: center;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.about-container div {
  height: 80%;
  width: 70%;
  max-height: 400px;
  max-width: 400px;
  margin: 2%;
}

.about-img {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.about-image {
  width: 80%;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-heading {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.about-paragraph,
.about-list-items {
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--secondary-color);
  text-align: justify;
}

.about-list-items {
  padding-left: 1.5rem;
}

.about-list-items li {
  margin-bottom: 0.5rem;
}

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4rem 2rem;
  color: #ccc;
  flex-direction: column;
}

.contact-info {
  max-width: 400px;
}

.contact-info h2 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.contact-info p {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.popup-open {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.6rem;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1.5rem;
}

.popup-open:hover {
  background-color: var(--hover-color);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.popup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-form__input {
  margin-bottom: 20px;
  padding: 12px 20px;
  width: 100%;
  font-size: 1.6rem;
  resize: initial;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.popup-form__submit {
  padding: 12px 20px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-form__submit:hover {
  background-color: var(--hover-color);
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.685);
  z-index: 9998;
  opacity: 0;
  pointer-events: none;
  padding: 10px 20px;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-wrapper.active {
  opacity: 1;
  pointer-events: all;
}

.popup {
  max-width: 500px;
  width: 100%;
}

#projects {
  width: 100%;
  height: 70vh;
  position: relative;
}

.projects-heading {
  font-size: 6rem;
  color: var(--secondary-color);
  margin: 7rem 0 10rem 9rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 32rem;
  height: 50rem;
  margin-right: 2.5rem;
  cursor: pointer;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.6s;
}

.card:hover .card-content {
  background-color: rgba(0, 0, 0, 0.9);
}

.card-content::before {
  content: "";
  width: 92%;
  height: 0.1rem;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  top: 2rem;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.8s;
}

.card:hover .card-content::before {
  transform: scale(1);
}

.card-content::after {
  content: "";
  width: 0.1rem;
  height: 94%;
  background-color: var(--primary-color);
  position: absolute;
  left: 2rem;
  top: 0;
  transform: scale(0);
  transform-origin: top;
  transition: transform 0.8s;
}

.card:hover .card-content::after {
  transform: scale(1);
}

.card-content h1 {
  font-size: 2rem;
  color: var(--background-color);
  position: absolute;
  top: 4rem;
  left: 4rem;
  width: 15rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.card:hover .card-content h1 {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s 0.6s;
}

.card-content p {
  font-size: 1.6rem;
  color: var(--background-color);
  position: absolute;
  top: 13rem;
  left: 4rem;
  width: 17rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.card:hover .card-content p {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s 0.6s;
}

.designs {
  right: 12rem;
}

#references {
  text-align: center;
  padding: 4rem 0;
  background-color: var(--background-color);
}

#references h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--secondary-color);
}

.info-text {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.gallery-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.logo {
  width: 17%;
  height: auto;
  margin: 0 3%;
  filter: grayscale(100%);
  transition: filter 0.5s, transform 0.5s;
  cursor: pointer;
}

.logo.custom-size {
  width: 8%;
}

.logo:hover {
  filter: grayscale(0%);
  transform: scale(0.9);
}

.modal-reference {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 80%;
  max-height: 80%;
  margin: 100px auto;
  display: block;
}

.footer {
  background-color: #34495e;
  padding: 2rem 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-column {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  font-size: 1.5rem;
}

.footer-logo {
  width: 200px;
}

.footer-copyright {
  margin-top: 1rem;
}

.footer h3,
.footer p {
  color: #fff;
}

.footer p.footer-copyright {
  color: #fff;
}

/* Max width: 900px */
@media (max-width: 900px) {
  html {
    font-size: 45%;
  }
  .landing {
    height: 50vh;
  }
  #projects {
    height: 50vh;
  }
}
/* Max width: 600px */
@media (max-width: 600px) {
  html {
    font-size: 35%;
  }
  .landing {
    height: 30vh;
  }
  .banner {
    top: 50%;
  }
  .banner-logo__company {
    width: 200px;
  }
  #projects {
    height: 40vh;
  }
}
/* Max width: 480px */
@media (max-width: 480px) {
  html {
    font-size: 30%;
  }
  .logo-company {
    width: 100px;
  }
  .landing {
    height: 25vh;
  }
  .banner {
    top: 50%;
  }
  .banner-content {
    width: 90%;
  }
  .cta-btn {
    margin-top: 1rem;
  }
  .banner-logo__company {
    width: 150px;
  }
  .about {
    justify-content: center;
    height: auto;
    padding: 5rem 2rem;
  }
  .about-container {
    flex-direction: column;
    align-items: center;
  }
  .about-img {
    display: none;
  }
  #projects {
    display: none;
  }
}

/*# sourceMappingURL=output.css.map */
